*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.grid-container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid-square {
  border: 1px solid rgba(0, 0, 0, 0.758);
}
