*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  width: 292px;
  height: 292px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid-square {
  width: 18px;
  height: 18px;
  border: 1px solid black;
}